
  <form action="https://formspree.io/mcmasterr@allegheny.edu" method="POST">
    First name: <input type="text" name="firstname"><br/>
    Last name:  <input type="text" name="lastname"><br/>

    <br>

    <label>Out of the travel destination reviews available, which one are you most
      interested in visiting?</label><br/>
    <input type="checkbox" name="Germany" value="1">Germany<br/>
    <input type="checkbox" name="Italy" value="2">Italy<br/>
    <input type="checkbox" name="Ireland" value="3">Ireland<br/>
    <input type="checkbox" name="France" value="4">France<br/>
    <input type="checkbox" name="England" value="5">England<br/>

    <br/>

    <label>What is your favorite travel story?</label>

    <br/>

    <textarea name="textbox1" rows="2" cols="30"></textarea>

    <br/>

    <label>What continents have you visited?</label>

    <br/>

    <textarea name="textbox2" rows="2" cols="30"></textarea>

    <br/>

    <input type="submit">

  </form>
