---
layout: default
---

<h2>survey</h2>


<body>
  <form action="https://formspree.io/mcmasterr@allegheny.edu" name="travel form" method="POST">


    <p>Out of the travel destination reviews available, which one are you most
      interested in going to?</p>

    <input type="radio" name="option1" value="1">Germany<br/>

    <input type="radio" name="option2" value="2">Italy<br/>

    <input type="radio" name="option3" value="3">Ireland<br/>

    <input type="radio" name="option4" value="4">France<br/>


    <p>We take your feedback very seriously. Are there any additions and/or improvements
    you would like to see in order to make your exerpience on our site more
    enjoyable?</p>

      <textarea name="textbox1" rows="5" cols="30"></textarea>

  </form>
</body>


{{ content }}

{% include contact-form.html %}
