---
layout: default
---

<h2>survey</h2>

<body>
  <form action="index.php" name="travel form" method="POST">
    First name: <input type="text" name="firstname"><br>
    Last name: <input type="text" name="lastname">

    <p>Out of the travel destination reviews available, which one are you most
      interested in going to?</p>

    <input type="radio" name="option1" value="1">Germany
    <input type="radio" name="option2" value="2">Italy
    <input type="radio" name="option3" value="3">Ireland
    <input type="radio" name="option4" value="4">France

    We take your feedback very seriously. Is there any additions and/or improvements
    you would like to see in order to make your exerpience on our site more
    enjoyable?
      <textarea name="textbox1" rows="5" cols="30"></textarea>

  </form>
</body>
{% include page-intro.html %}

{{ content }}

{% include contact-form.html %}
